In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as wg

In [2]:
wg.filterwarnings('ignore')

In [3]:
df = pd.read_csv("StressLevelDataset (1).csv")

In [4]:
df.describe()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
count,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,...,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000
mean,11.063636,17.777273,0.492727,12.555455,2.508182,2.181818,2.660000,2.753636,2.649091,2.518182,...,2.772727,2.772727,2.621818,2.648182,2.649091,1.881818,2.734545,2.767273,2.617273,0.996364
std,6.117558,8.944599,0.500175,7.727008,1.409356,0.833575,1.548383,1.400713,1.328127,1.119208,...,1.433761,1.414594,1.315781,1.384579,1.529375,1.047826,1.425265,1.417562,1.530958,0.821673
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,11.000000,0.000000,6.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1.000000,0.000000
50%,11.000000,19.000000,0.000000,12.000000,3.000000,2.000000,2.500000,3.000000,3.000000,2.000000,...,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.500000,3.000000,1.000000
75%,16.000000,26.000000,1.000000,19.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000,...,4.000000,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,2.000000
max,21.000000,30.000000,1.000000,27.000000,5.000000,3.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,5.000000,5.000000,5.000000,2.000000

In [5]:
student = len(df)
student

1100

In [6]:
average_anxiety_level = df['anxiety_level'].mean()

In [7]:
average_anxiety_level

11.063636363636364

In [8]:
len(df)

1100

In [51]:
df.columns

Index(['anxiety_level', 'self_esteem', 'mental_health_history', 'depression',
       'headache', 'blood_pressure', 'sleep_quality', 'breathing_problem',
       'noise_level', 'living_conditions', 'safety', 'basic_needs',
       'academic_performance', 'study_load', 'teacher_student_relationship',
       'future_career_concerns', 'social_support', 'peer_pressure',
       'extracurricular_activities', 'bullying', 'stress_level'],
      dtype='object')

In [9]:
students_with_mental_health_history = df[df['mental_health_history'] == 1]

In [10]:
len(students_with_mental_health_history)

542

In [11]:
average_self_esteem = df ["self_esteem"].mean

In [12]:
average_self_esteem()

17.777272727272727

In [13]:
below_average_self_esteem = df[df['self_esteem'] < average_self_esteem()]

In [14]:
below_average_self_esteem

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
1,15,8,1,15,5,3,1,4,3,1,...,2,1,4,1,5,1,4,5,5,2
3,16,12,1,15,4,3,1,3,4,2,...,2,2,4,1,4,1,4,4,5,2
5,20,13,1,21,3,3,1,4,3,2,...,1,2,5,2,5,1,4,4,5,2
7,17,3,1,22,4,3,1,5,3,1,...,1,1,3,2,4,1,4,4,5,2
9,6,8,0,27,4,3,1,2,0,5,...,2,2,2,1,5,1,5,3,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,7,17,0,0,4,3,5,4,5,1,...,1,2,1,1,1,0,1,0,3,2
1095,11,17,0,14,3,1,3,2,2,2,...,3,2,2,2,3,3,2,3,3,1
1096,9,12,0,8,0,3,0,0,0,1,...,4,0,1,1,1,1,3,4,3,2
1098,21,0,1,19,5,3,1,4,3,1,...,1,2,5,1,4,1,4,4,4,2
1099,18,6,1,15,3,3,0,3,3,0,...,3,3,4,3,3,1,5,1,4,2

In [15]:
len(below_average_self_esteem)

507

In [16]:
students_depression = df[df['mental_health_history'] == 1]

In [17]:
len(students_depression)

542

In [18]:
percantage_depression =(len(students_depression)/len(df))*100

In [19]:
percantage_depression

49.27272727272727

In [20]:
students_experience_headaches_frequently = df[df['headache'] == 1]

In [21]:
len(students_experience_headaches_frequently)

331

In [22]:
average_blood_pressure = df["blood_pressure"].mean

In [23]:
average_blood_pressure()

2.1818181818181817

In [24]:
sleep_quality = df[df["sleep_quality"]<2]

In [25]:
len(sleep_quality)

362

In [26]:
noise_level = df[df["noise_level"]<3]

In [27]:
len(noise_level)

537

In [28]:
 What percentage of students feel unsafe in their living conditions?

Object `conditions` not found.

In [29]:
basic_needs= df[df["basic_needs"]<2]

In [30]:
len(basic_needs)

213

In [31]:
average_academic_performance=df["academic_performance"].mean

In [32]:
average_academic_performance()

2.772727272727273

In [33]:
below_average_academic_performance = df[df['academic_performance'] < 2.77]

In [34]:
len(below_average_academic_performance)

561

In [35]:
average_study_load = df["study_load"].mean

In [38]:
average_study_load()

2.6218181818181816

In [39]:
future_career_concerns = df[df["future_career_concerns"]< 3]

In [40]:
len (future_career_concerns)

556

In [48]:
strong_social_support = df [df["social_support"]>2]

In [49]:
len(strong_social_support)

458

In [64]:
bullying = df[df['bullying']>1]

In [65]:
len(bullying)

726